<div class="container">
  <div class="row">

    <form [formGroup]="uploadForm" (ngSubmit)="addEntry()">

      <div class="col-12" style="padding-top: 40px">

        <div class="form-group mb-3 mat-elevation-z4">
            <!-- <label for="file">File</label> -->
            <input 
                formControlName="file"
                id="file" 
                type="file" 
                class="form-control"
                (change)="onFileChange($event)">
            <div *ngIf="f['file'].touched && f['file'].invalid" class="alert alert-danger">
                <div *ngIf="f['file'].errors && f['file'].errors['required']">File is required.</div>
            </div>
        </div>
        
        
        <!-- Select File -->
        <!-- <input type="file" accept="image/*" (change)="showPreview($event)" /> -->
        <!-- Image Preview -->
        <!-- <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
          <img [src]="imageURL" [alt]="uploadForm.value.name">
        </div> -->
        <!-- Assign Image Alt -->
        <!-- <input formControlName="name" placeholder="Enter name">
        <button type="submit">Submit</button> -->
        
      <!-- <div class="file-upload mat-elevation-z4" style="border-radius: 10px">
        <button
          class="file-upload-btn"
          type="button"
          onclick="$('.file-upload-input').trigger( 'click' )"
        >
          Add Image
        </button>

        <div class="image-upload-wrap">
          <input
            class="file-upload-input"
            type="file"
            onchange="readURL(this);"
            accept="image/*"
          />
          <div class="drag-text">
            <h3>Drag and drop a file or select add Image</h3>
          </div>
        </div>
        <div class="file-upload-content">
          <img class="file-upload-image" src="#" alt="your image" />
          <div class="image-title-wrap">
            <button type="button" onclick="removeUpload()" class="remove-image">
              Remove <span class="image-title">Uploaded Image</span>
            </button>
          </div>
        </div> 
      </div> -->

      <div class="input-group mb-3 mat-elevation-z4" style="margin-top: 3%">
        <span class="input-group-text">Language</span>
        <input
        type="text"
        placeholder="What language are the image and text in"
        formControlName="language" 
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['language'].errors }"
        />
      </div>

      <div class="input-group mb-3 mat-elevation-z4">
        <span class="input-group-text">Confidence Score</span>
        <input
        type="number"
        formControlName="score" 
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['score'].errors }"
        />
      </div>

      <div class="input-group mat-elevation-z4">
        <span class="input-group-text">Text in uploaded image</span>
        <textarea
        placeholder="Please input the text in the uploaded picture"
        formControlName="text" 
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['text'].errors }"
        ></textarea>
      </div>
      
      <div class="text-center">
        <button
        type="submit"
        class="btn btn-secondary mat-elevation-z4"
        [disabled]="uploadForm.invalid"
        style="align-self: center"
        style="margin: 2%"
        >
        Submit
      </button>
      </div>
    </div>
  </form>
  </div>
</div>
