<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<div class="file-upload" style="border-radius: 10px;">
  <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

  <div class="image-upload-wrap">
    <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
    <div class="drag-text">
      <h3>Drag and drop a file or select add Image</h3>
    </div>
  </div>
  <div class="file-upload-content">
    <img class="file-upload-image" src="#" alt="your image" />
    <div class="image-title-wrap">
      <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
    </div>
  </div>
</div>
<!-- <br>
<br>
<br> -->
<div class="input-group mb-3" style="margin-top: 3%;">
    <span class="input-group-text">Language</span>
    <input type="text" class="form-control" placeholder="What language are the image and text in">
  </div>
<div class="input-group mb-3">
   <span class="input-group-text">Confidence Score</span>
  <input type="text" class="form-control" placeholder="% of confidence in the accuracy of the given text">
</div>
  <div class="input-group">
    <span class="input-group-text">Text in uploaded image</span>
    <textarea class="form-control" placeholder="Please input the text in the uploaded picture"></textarea>
  </div>
  <div class="text-center">
  <button type="button" class="btn btn-secondary" style="align-self: center;" style="margin: 2%;">Submit</button></div>
