/* mat-sidenav {
    margin: calc(2vh);
    width: calc(10vw);
    background: #435B66;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: calc(2vh);
  }
  mat-sidenav-container{
    height: calc(92vh);
}
  .content{
    height: calc(88vh);
    margin: calc(2vh);
    margin-left: calc(4vh);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border-radius: 10px;    
  } */
  @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    height: calc(80vh);
    margin-left: calc(2vh);
    align-items: stretch;
}

#sidebar {
    /* min-width: 250px; */
    /* max-width: 250px; */
    background: #526D82;
    color: #fff;
    border-radius: 10px;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #526D82;
    border-radius: 10px;
}

#sidebar ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 25px;
    font-size: 1.1em;
    display: block;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: #2D4356;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: white;
    background: #2D4356;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}