<div class="container" style="padding-top: 2%;" >
    <div class="row" > 
        <div class=" col-6">
            <div class="card" style="height: 100%;">
                <img src="../../assets/images/providelabled.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Provide labled Data!</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Proceed</a>
                </div>
            </div>
        </div>
        <div class=" col-6"> 
            <div class="card" >
                <img src="../../assets/images/labeldata.png" class="card-img-top" alt="..." >
                <div class="card-body">
                <h5 class="card-title">Help label provided Data!</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Proceed</a>
                </div>
            </div>
        </div>
    </div>
</div>