<div class="container" style="padding-top: 2%; padding-bottom: 2%">
  <div class="row">
    <div class="col-6">
      <div class="card mat-elevation-z4" style="height: 100%">
        <img
          src="../../assets/images/providelabled.jpg"
          class="card-img-top fixed-height-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Provide labeled Data!</h5>
          <p class="card-text">
            You will be uploading a file that contains visual representations of text, then providing said text and other necessary data to assist in training the OCR model.
          </p>
          <a href="/providelableddata" class="btn btn-primary">Proceed</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card mat-elevation-z4">
        <img
          src="../../assets/images/labeldata.png"
          class="card-img-top fixed-height-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Supervise Model Attempts!</h5>
          <p class="card-text">
            After uploading an image containing text, our Optical Character Recognition (OCR) model will attempt to extract the text from the image. You can then assess its accuracy and make corrections as needed.
          </p>
          <a href="labelprovideddata" class="btn btn-primary">Proceed</a>
        </div>
      </div>
    </div>
  </div>
</div>